* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:lightblue;
}

.navbar li {
    display: inline-block;
    color: #4D00FF;
}

.navbar a {
    text-decoration: none;
}
.banner {
    background-color: #4D00FF;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
    margin-top: 50px;

}

.banner p, h1 {
    color: lightblue;
}


#pic {
    width: 300px;
    height: 250px;
    float: center;
    filter: drop-shadow(5px 5px 5px black);
}


p, 
li {
    font-size: 18px;
}

.info {
    padding: 20px 50px;
}

button {
    margin-bottom: 10px;
}

a.blue {
    color: goldenrod;
}

.avatar {
    background-image: url('../images/gettyimages-1187582500-612x612.jpeg');
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}